.order-summary {
  background: center / cover no-repeat
    url("../assets/plan/desktop/bg-order-summary.png");
  border-radius: 10px;
  padding: 3.5% 8.5% 11.3%;
  margin-bottom: 40px;
  grid-column: 2;
  grid-row: 2;
  height: min-content;
}

.order-summary__head {
  font-size: 16px;
  line-height: 26px;
  font-family: var(--primary-font);
  color: #707070;
}

.order-summary__btn {
  max-height: 56px;
  max-width: 217px;
  grid-column: 2;
  /* grid-row: 3; */
  justify-self: end;
}

.order-summary__btn:disabled {
  cursor: not-allowed;
}
